.fas {
  font-size: 20px;
}

select.form-control,
textarea.form-control,
input[type="text"].form-control,
input[type="password"].form-control,
input[type="datetime"].form-control,
input[type="datetime-local"].form-control,
input[type="date"].form-control,
input[type="month"].form-control,
input[type="time"].form-control,
input[type="week"].form-control,
input[type="number"].form-control,
input[type="email"].form-control,
input[type="url"].form-control,
input[type="search"].form-control,
input[type="tel"].form-control,
input[type="color"].form-control {
  font-size: 14px;
}

.form-control {
  display: block;
  width: 100%;
  /* height: 40px; */
  padding: 6px 15px;
  font-size: 15px;
  line-height: 20px;
  color: #777777;
  background: #ffffff;
  background-image: none;
  border: 1px solid #e5e5e5;
  box-shadow: none;
  border-radius: 0;
}

/*header*/

header {
  position: relative;
}

.header-top {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-bottom {
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

/* contact */

.contact a {
  display: flex;
  align-items: center;
}

.contact i {
  font-size: 30px;
  padding: 0 13px 0 0;
}

.contact a span span:first-child {
  font-size: 16px;
}

.contact a span span {
  display: block;
}

/*logo*/

#logo {
  vertical-align: top;
  display: inline-block;
}

/*header search*/

.btn_search {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* .btn_search .form-control {
    padding: 2px 10px;
    border: none;
    height: 40px;
} */

.header-search .icon-close {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  font-size: 12px;
}

.header-search {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  padding: 0 30px;
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.header-search.active {
  opacity: 1;
  visibility: visible;
}

#mahardhiSearch .input-lg,
#search .input-lg {
  height: 40px;
  border: none;
}

#mahardhiSearch .input-lg {
  padding: 6px 15px;
}

#mahardhiSearch select.form-control.input-lg {
  border: none;
  padding: 6px 0;
  line-height: 1.42857143;
  width: auto;
  background: transparent;
}

#mahardhiSearch,
#search {
  display: flex;
  position: relative;
  margin: 0 auto;
  width: 65%;
  border-bottom: 1px solid #e5e5e5;
  background: #ffffff;
}

#mahardhiSearch > *,
#search > * {
  background: transparent;
  display: block;
}

#mahardhiSearch .btn-search,
#search .input-group-btn {
  width: auto;
  background: transparent;
}

#mahardhiSearch .btn-search button,
#search .input-group-btn button {
  padding: 10px;
  border: none;
  background: transparent;
}

.category-search {
  position: relative;
}

.category-search:after {
  border-left: 1px solid #e5e5e5;
  content: "";
  height: 25px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 9;
  margin: auto;
}

/*header right*/

.header-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#header_ac > span {
  margin: 0 5px 0 0;
}

#header_ac > span i,
.btn_search .search-btn i {
  font-size: 20px;
  display: block;
}

#header_ac > span,
.btn_search .search-btn {
  text-decoration: none;
  display: block;
  padding: 15px;
}

#header_ac .dropdown-menu {
  opacity: 0;
  padding: 7px 10px;
  width: 200px;
}

.dropdown-menu {
  z-index: -1;
  display: block;
  top: auto;
}

.dropdown-menu li a {
  text-decoration: none;
}

.fa-user {
  margin-right: 10px;
}

#header_cart .dropdown-menu {
  opacity: 0;
  padding: 7px 10px;
  width: 200px;
}

.product-cart-empty {
  padding: 5px 0;
}

#header_cart span {
  padding: 10px 0;
}

.navbar {
  margin-bottom: 0;
  text-transform: uppercase;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding: 10px 17px;
}

.header-center {
  margin-right: 30px;
}


hr {
  margin-top: 0;
  margin-bottom: 0;
}

#header_ac span:hover .dropdown-menu,
#header_cart span:hover .dropdown-menu {
  opacity: 1;
  transition: all 1s ease;
  z-index: 1;
}
#header_cart{
  position: relative;
  cursor: pointer;
}

#header_cart .cart-length{
  font-size: 10px;
  right: -10px;
  top: -10px;
  padding: 2px 5px;
  position: absolute;
  background: red;
  border-radius: 99%;
  color: white;
}
#account-login ul.breadcrumb {
  text-align: center;
  display: inherit;
}
#account-login ul.breadcrumb li {
  display: inline;
}
#account-login ul.breadcrumb li a {
  text-decoration: none;
}

/* column-left-right */

#column-left > div,
#column-right > div {
  margin: 50px 0 0;
  box-shadow: none;
  border: none;
  width: auto;
  background: #ffffff;
}

#column-left > div.swiper-viewport,
#column-right > div.swiper-viewport {
  border: none;
  padding: 0;
}

#column-left > div:first-child,
#column-right > div:first-child {
  margin-top: 0;
}

#column-left h3,
#column-right h3,
#column-left .box-content h3,
#column-right .box-content h3 {
  display: block;
  margin: -3px 0 0 0;
  padding: 0;
  font-size: 16px;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  color: #222222;
  background: transparent;
  font-weight: 500;
  line-height: 20px;
  border: none;
}

a.list-group-item.active,
a.list-group-item.active:focus,
a.list-group-item.active:hover,
a.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus,
button.list-group-item:hover {
  color: #222222;
  text-decoration: none;
  background-color: transparent;
}

#column-left .block_box,
#column-right .block_box,
.category-list #selectMe-desk,
.account-content .list-unstyled {
  margin: 25px 0 0 0;
}

#column-left .box .container,
#column-right .box .container {
  width: auto;
  padding: 0;
}

.account-content .list-group a {
  border: none;
  border-radius: 0;
  margin: 0;
  background: transparent;
  padding: 8px 0;
  text-transform: capitalize;
  color: #777777;
  font-size: 14px;
}

.well {
  padding: 19px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  background: transparent;
}

.well h2 {
  margin: 0px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}

.well strong {
  font-weight: 500;
}

.btn-primary {
  width: auto;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px 30px;
  border: 2px solid #222222;
  background: #222222;
  border-radius: 0;
  font-weight: 400;
  cursor: pointer;
}

.well .form-group a{
  text-decoration: none;
  font-size: 14px;
}

#content form .required {
  padding-bottom: 40px;
}

legend {
  font-size: 18px;
  padding: 7px 0px;
  border-color: var(--border-color);
}

div.required .control-label:before {
  content: '* ';
  color: #F00;
  font-weight: bold;
}

.buttons b{
  margin-right: 5px;
}
.radio-inline {
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
}

.checkbox-inline, .radio-inline {
  margin-top: 0;
  margin-left: 10px;
}

input[type=checkbox], input[type=radio] {
  margin: 0 7px;
  margin-top: 1px\9;
  line-height: normal;
}

#account-register ul.breadcrumb {
  text-align: center;
  display: inherit;
}

#account-register ul.breadcrumb li {
  display: inline;
}

#account-register ul.breadcrumb li a{
 text-decoration: none;
}

.my-alert{
  top:0;
  position: fixed;
  width: 100%;
  z-index: 99;
  text-align: center;
}
a:hover, .logout:hover{
  text-decoration: none;
  color: black;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 100; /* this is optional and should be different for every project */
}
.sticky-wrapper {
  position: relative;
}

.sticky .sticky-inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: white;
}